name: Upload to thunderstore

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: 3.11.4

    - name: install poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: 1.7.1

    - name: install with poetry
      run: poetry install

    - name: pickup number of commits
      run: echo "COMMIT_COUNT=$(git rev-list --count main)" >> $GITHUB_ENV

    - name: generate manifest
      run: poetry run python -m lethal_whalers update-manifest

    - name: Zip up modpack
      run: |
        cd modpack
        zip -r modpack.zip .
      # mv modpack.zip ..

    - name: upload modpack artifact
      uses: actions/upload-artifact@v4
      with:
        path: modpack/modpack.zip
        name: modpack.zip

    - name: Publish package
      run: poetry run python -m lethal_whalers upload-modpack
      env: 
        LETHAL_WHALER_API_USER: ${{ secrets.THUNDERSTORE_SA_NAME }}
        LETHAL_WHALER_API_PASSWORD: ${{ secrets.THUNDERSTORE_SA_API_TOKEN }}